<!DOCTYPE html>
<html ng-app="App">
  <head>
    <title>XBMC Controller</title>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="xbmc_controller.css" rel="stylesheet">
  </head>
  <body>
    <div ng-controller="player">
      <button class="label label-info" ng-click="prev()">Prev</button>
      <button class="label label-info" ng-click="playpause()" ng-show="isPlaying">Pause</button>
      <button class="label label-info" ng-click="playpause()" ng-hide="isPlaying">Play</button>
      <button class="label label-info" ng-click="stop()">Stop</button>
      <button class="label label-info" ng-click="next()">Next</button>
      <p/>
      <input readonly="readonly" placeholder="Currently playing..." ng-model="activeTitle"></input>
      <p/>
    </div>
    <div class="container-fluid">
      <div class="row-fluid main-container">
        <div class="span6 browser tabbable" ng-controller='tabs'>
          <ul class="nav nav-tabs">
            <li ng-repeat='(key, genre) in genres' ng-class='{active: getActive() == key}'>
              <a ng-click='setActive(key)'>{{genre.tablabel}}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div ng-repeat='(key, genre) in genres' class="tab-pane" ng-class='{active: getActive() == key}' ng-controller='browser' ng-init='type=genre.type'>
              <ul class="breadcrumb">
                <!--
                <li><a ng-click='getSources()'>Sources</a><span class="divider">></span></li>
                -->
                <li ng-repeat='crumb in crumbs'><a ng-click='setCrumb($index)'>{{crumb.source.label}}</a><span class="divider">></span></li>
              </ul>
              <input type="text" placeholder="Filter" ng-model="searchText"></input>
              <div class="browser-list" ng-hide='loading' ng-show='getCwd().length > 0'>
                <ul>
                  <li ng-repeat='source in getCwd() | filter:searchText'>
                    <div class="xbmc_item">
                      <a ng-hide='source.filetype == "file"' ng-click='addCrumb(source)'>{{source.label}}</a>
                      <a ng-show='source.filetype == "file"' ng-click='playItem(source)'>{{source.label}}</a>
                      <span ng-show='source.filetype != undefined'>
                        <span class="browser-action label label-info" 
                        ng-click='playItem(source)'>Play</span>
                        <span class="browser-action label label-info" ng-click='enqueue("audio", source)'>Enqueue</span>
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
              <div ng-show='!loading && getCwd().length == 0'>
                nothing...
              </div>
              <div ng-show='loading'>
                Loading...
              </div>
            </div>
          </div>

        </div>
        <div class="span4 playlist" ng-controller='playlist'>
          <ul>
            <li ng-repeat='item in items'>{{item.label}}</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- scripts area -->
    <script src="lib/jquery-1.8.3.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="xbmc_json_cmds.js"></script>
    <script src="xbmc_connection.js"></script>
    <script src="xbmc_controller.js"></script>
  </body>
</html>
